<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        GlaDOS
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/style.css">
    <%- include ('partials/head.html') %>
    <!------incluir cabezera navegacion----->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
</head>

<body>
    <%- include ('partials/navigation.html') %>

    <div class="bg-light" style="opacity: .6;">
        <div class="text-center">
            <!-- Masthead Avatar Image-->
            <img src="images/wall.webp" alt="" width="50%" />
            <!-- Masthead Heading-->
            <p class="font-weight ">SIGG - v 1.1.0</p>
            <!--   -->
        </div>
        <br>
    </div>
  
      

</body>

</html>