body {
    /* background-image: url('../images/wall.webp'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::before {
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(95deg, rgb(0, 255, 191), rgb(132, 0, 255));
    opacity: 0.3;
    z-index: -1;
}

/* index.css o style.css */

/* Tema claro (por defecto) */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Tema oscuro */
.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
}

/* Aplicar las variables a los elementos */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.bg-light {
  background-color: var(--background-color) !important;
}
