
<!--   -->
<nav>
  <ul class="nav nav-tabs shadow-sm p-3 mb-4 bg-body-tertiary rounded">
    <li class="nav-item">
      <a class="nav-link active" href="/home"><i class="fas fa-home"></i> Inicio</a>
    </li> 

    <li class="nav-item">
      <a class="nav-link" href="/Nuevo" tabindex="-1" aria-disabled="true"><i class="fas fa-laptop-code"></i>
        Nuevo</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/Pruebas" tabindex="-1" aria-disabled="true"><i class="fa-solid fa-key"></i>
        Historial</a>
    </li>
 
    
    <li class="nav-item">
      <a class="nav-link " href="/" tabindex="-1" aria-disabled="true"><i class="fas fa-sign-out-alt"></i> Salir</a>
    </li>
  
  </ul>
</nav>

  