<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlaDOS</title>

    <%- include ('../partials/head.html') %>
        <!-- ExcelJS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>
        <script type="text/javascript" src="js/Cotizador/Cotizador.js"></script>
       
        
        <!------ JQUERY PARA USAR AJAX ----->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


</head>

<body>
    <%- include ('../partials/navigation.html') %>
        <div class="container shadow-lg my-2 mx-auto p-3 bg-white rounded">
            <div class="card border-0">
                <div class="card-body">
                    
                    <div class="d-flex justify-content-center align-items-center">
                        <h5 class="card-title">Nuevo</h5>
                    </div>

                    <div class="form-inline col-12 ml-5" id="myform">
                        <!-- Información de cliente -->
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="clientName" class="form-label">Nombre del Cliente</label>
                                <input type="text" class="form-control" id="clientName" placeholder="Ingrese su nombre"
                                    required value="Sergio Magaña">
                            </div>
                            <div class="col-md-6">
                                <label for="clientEmail" class="form-label">Correo Electrónico</label>
                                <input type="text" class="form-control" id="clientEmail"
                                    placeholder="Ingrese su correo electrónico" required
                                    value="Sergio_lcc92@hotmail.com">
                            </div>
                        </div>

                        <hr>
                        <div class="row mb-3">
                            <!-- Detalles de la cotización -->
                            <div class="col-md-4">
                                <label for="product" class="form-label">Producto o Servicio</label>
                                <select class="form-select" id="product" required>
                                    <option value="">Seleccione un producto o servicio</option>
                                    <option value="producto1" selected>Producto 1</option>
                                    <option value="producto2">Producto 2</option>
                                    <option value="producto3">Producto 3</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="quantity" class="form-label">Cantidad</label>
                                <input type="number" class="form-control" id="quantity" placeholder="Cantidad" required
                                    min="1" value="12">
                            </div>
                            <div class="col-md-4">
                                <label for="unitPrice" class="form-label">Precio Unitario</label>
                                <input type="number" class="form-control" id="unitPrice" placeholder="Precio por unidad"
                                    required min="0" step="0.10" value="19.50">
                            </div>
                        </div>
                        <hr>

                        <!-- Fecha estimada de entrega -->
                        <div class="mb-3">
                            <label for="deliveryDate" class="form-label">Fecha de Entrega Estimada</label>
                            <input type="date" class="form-control" id="deliveryDate" required value="2024-03-15">
                        </div>

                        <!-- Método de pago -->
                        <div class="mb-3">
                            <label for="paymentMethod" class="form-label">Método de Pago</label>
                            <select class="form-select" id="paymentMethod" required>
                                <option value="">Seleccione un método de pago</option>
                                <option value="tarjeta">Tarjeta de Crédito/Débito</option>
                                <option selected value="transferencia">Transferencia Bancaria</option>
                                <option value="efectivo">Efectivo</option>
                            </select>
                        </div>

                        <!-- Comentarios adicionales -->
                        <div class="mb-3">
                            <label for="comments" class="form-label">Comentarios Adicionales</label>
                            <textarea class="form-control" id="comments" rows="3"
                                placeholder="Comentarios adicionales o requisitos especiales">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam magni qui adipisci, perspiciatis libero aut. Id recusandae, deserunt ducimus harum magnam neque provident quia nam dignissimos? Nisi, repudiandae iusto? Dolores!</textarea>
                        </div>
                        <!-- Comentarios adicionales -->
                        <div class="mb-3">
                            <label for="comments" class="form-label">Comentarios Adicionales</label>
                            <textarea class="form-control" id="comments" rows="3"
                                placeholder="Comentarios adicionales o requisitos especiales">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam magni qui adipisci, perspiciatis libero aut. Id recusandae, deserunt ducimus harum magnam neque provident quia nam dignissimos? Nisi, repudiandae iusto? Dolores!</textarea>
                        </div>
                        <!-- Comentarios adicionales -->
                        <div class="mb-3">
                            <label for="comments" class="form-label">Comentarios Adicionales</label>
                            <textarea class="form-control" id="comments" rows="3"
                                placeholder="Comentarios adicionales o requisitos especiales">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam magni qui adipisci, perspiciatis libero aut. Id recusandae, deserunt ducimus harum magnam neque provident quia nam dignissimos? Nisi, repudiandae iusto? Dolores!</textarea>
                        </div>
                        <!-- Comentarios adicionales -->
                        <div class="mb-3">
                            <label for="comments" class="form-label">Comentarios Adicionales</label>
                            <textarea class="form-control" id="comments" rows="3"
                                placeholder="Comentarios adicionales o requisitos especiales">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam magni qui adipisci, perspiciatis libero aut. Id recusandae, deserunt ducimus harum magnam neque provident quia nam dignissimos? Nisi, repudiandae iusto? Dolores!</textarea>
                        </div>
                        <!-- Comentarios adicionales -->
                        <div class="mb-3">
                            <label for="comments" class="form-label">Comentarios Adicionales</label>
                            <textarea class="form-control" id="comments" rows="3"
                                placeholder="Comentarios adicionales o requisitos especiales">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam magni qui adipisci, perspiciatis libero aut. Id recusandae, deserunt ducimus harum magnam neque provident quia nam dignissimos? Nisi, repudiandae iusto? Dolores!</textarea>
                        </div>

                        <!-- Botón de envío -->
                        <div class="d-flex justify-content-center align-items-center">
                            <button id="download-btn" class="btn btn-primary" onclick="SetRegistro()">Generar
                                Cotización</button>
                        </div> 
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Exito -->
        <div class="modal fade" id="RecoleccionExito" tabindex="-1" role="dialog" aria-labelledby="RecoleccionExito"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        Exito.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Sin elementos -->
        <div class="modal fade" id="Vacio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        No se encontraron elementos.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

<!-- Botón para subir al inicio -->
<button id="btnScrollTop" class="btn btn-primary">
    ↑
</button>

<script type="text/javascript" src="js/Components/btnUp.js"></script>
</body>

</html>